<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher Decoder</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="caesar">
	<h1>Type an encoded message in the box to decode a Caesar Cipher</h1>
	<div class="col-container" ng-controller="CaesarController">
		<div class="col left-col">
			<h2>Encoded Message:</h2>
			<span>Swich Value: </span><select ng-change="decode()" ng-model="switchValue" ng-init="switchValue=options[0]" ng-options="option as option for option in options"></select>
			<span>Message: </span><textarea ng-change="decode()" ng-model="encodedMessage"></textarea>
		</div>
		<div class="col right-col">
			<h2>Decoded Message:</h2>
			<p>{{decodedMessage}}</h3>
		</div>
	</div>
</body>
</html>